
body { background-color: #d8e0d8; max-width: 44em; }
main { padding: 0 2em; }
article { background-color: #eef4ee; padding: 1px 2em; }
a { color: #2b7c00; }
a:hover { color: #50b92d; }
a:visited { color: #2b7c00; }
a.permalink { color: inherit; }
a.permalink:hover { text-decoration: underline; }
pre { tab-size: 4; font-size: medium; background-color: #d5e7cf; }
code { padding: 0 0.125em; background-color: #d5e7cfa0; }
li { margin-bottom: 0; }
li>ul { margin-bottom: 0; }
li>ol { margin-bottom: 0; }
footer { font-size: small; text-align: center; }
footer a, footer a:hover { color: inherit; text-decoration: underline; }
footer a:hover { border-bottom: none; }
div.subtitle { display: flex; font-style: italic; opacity: 0.75; font-size: medium; line-height: 1.15; margin-bottom: -1.15em; }
p.date { text-align: right; flex: auto; }
p.chapter { text-align: left; flex: auto; }
blockquote { background-color: inherit; border-left-color: #2b7c00; }
hr { border-color: #2b7c00; }

@media (prefers-color-scheme: dark) {
	body { background-color: #080908; color: #eef4ee; }
	article { background-color: #101210; }
	a { color: #7dbe67; }
	a:hover { color: #40aa1d; }
	a:visited { color: #7dbe67; }
	a.permalink { color: inherit; }
	pre { background-color: #1a2018; }
	code { background-color: #1a2018; }
}
