:root {
    --background-color: #d8e0d8;
    --article-bg-color: #eef4ee;
    --text-color: #4a4a4a;

    --primary-color: #2b7c00;
    --anchor-hover-color: #50b92d;
    --pre-bg-color: #d5e7cf;
    --code-bg-color: #d5e7cfa0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #080908;
        --article-bg-color: #101210;
        --text-color: #eef4ee;

        --primary-color: #7dbe67;
        --anchor-hover-color: #40aa1d;
        --pre-bg-color: #1a2018;
        --code-bg-color: #1a2018;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 44em;
}

main{
    padding: 0 2em;
}

article {
    background-color: var(--article-bg-color);
    padding: 1px 2em;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--anchor-hover-color);
}

a:visited {
    color: var(--primary-color);
}

a.permalink {
    color: inherit;
}

a.permalink:hover {
    text-decoration: underline;
}

pre {
    tab-size: 4;
    font-size: medium;
    background-color: var(--pre-bg-color);
}

code {
    padding: 0 0.125em;
    background-color: var(--code-bg-color);
}

li {
    margin-bottom: 0;
}

li > ul {
    margin-bottom: 0;
}

li > ol {
    margin-bottom: 0;
}

footer {
    font-size: small;
    text-align: center;
}

footer a, footer a:hover {
    color: inherit;
    text-decoration: underline;
}

footer a:hover {
    border-bottom: none;
}

div.subtitle {
    display: flex;
    font-style: italic;
    opacity: 0.75;
    font-size: medium;
    line-height: 1.15;
    margin-bottom: -1.15em;
}

p.date {
    text-align: right;
    flex: auto;
}

p.chapter {
    text-align: left;
    flex: auto;
}

blockquote {
    background-color: inherit;
    border-left-color: var(--primary-color);
}

hr {
    border-color: #2b7c00;
}

#clicky {
    margin-top: 1em;
    display: block;
    text-align: center;
}
